<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= @seokeywords %>"/>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- start of nav -->
    <%= render 'shared/blog_nav' %>
    <!-- end of nav -->

    <!-- start of blog header -->
    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">Blogs</h1>
        <p class="lead blog-description">My thoughts on programming, art and music.</p>
         <p class="lead blog-description"> <%= link_to 'Write a new blog.', new_blog_path if logged_in?(:siteadmin) %></p>
       
      </div>
    </div>

    <!-- end of blog header -->


    <!-- start of container and row elements -->
    <div class="container">
      <div class="row">
        <%= yield %>
        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <%= render 'shared/blog_sidebar' %>
        </div>
        <%= render 'shared/nav', location: 'bottom' %>
        <%= source_helper %>
      </div>
    </div>
    <!-- end of container and row elements -->
   
    
    <%#= debug(params) %>
  </body>
</html>
